{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "editor.formatOnSave": true,
  "arrowParens": "always",
  "trailingComma": "none"
}
