.withdrawal {
  align-items: center;
  justify-content: space-between;
  display: flex;
  background: #242526;
  border: 1px solid #49494d;
  border-radius: 8px;
  padding: 15px;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  .left {
    display: flex;
    align-items: center;
    width: 50%;

    .icon {
      flex-shrink: 0;
      width: 45px;
      height: 45px;
      justify-content: center;
      display: flex;
      align-items: center;
      border: 1px solid #49494d;
      border-radius: 50%;
      background: #303234;

      svg {
        max-width: 20px;
      }
    }

    .data {
      margin-left: 15px;
      line-height: 1;
      font-size: 14px;

      .value {
        margin-bottom: 5px;
        font-weight: bold;
        display: block;
      }

      .amount {
        color: #808ea3;
      }
    }
  }

  .right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;

    .time {
      margin-right: 15px;
      line-height: 1;
      font-size: 14px;

      .date {
        margin-bottom: 5px;
        font-weight: bold;
        display: block;
      }

      .label {
        color: #808ea3;
      }
    }

    .withdraw {
      background: #2044f5;
      border: none;
      padding: 15px 25px;
      border-radius: 6px;
      color: white;
      font-size: 14px;
      line-height: 1;
      display: flex;
      align-items: center;

      svg {
        margin-right: 8px;
      }

      &--disabled {
        pointer-events: none;
        background: #303234;
        color: rgba(white, 0.5);
      }
    }
  }
}
